<div class="users">
  <div class="users__filters">
    <p>Группы:</p>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="favoriteGroup"
    >
      @for (group of groups(); track group) {
        <mat-radio-button class="example-radio-button" [value]="group">{{ group.groupName }}</mat-radio-button>
      }
    </mat-radio-group>
    <p>Роли:</p>
    <mat-radio-group
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [(ngModel)]="favoriteRole"
    >
      @for (role of roles(); track role) {
        <mat-radio-button class="example-radio-button" [value]="role">{{ role.roleName }}</mat-radio-button>
      }
    </mat-radio-group>
    <button mat-flat-button (click)="resetFilters()">Reset</button>
  </div>
  <div class="users__table">
    <mat-form-field subscriptSizing="dynamic" class="users__table__input">
      <input matInput placeholder="Поиск" [(ngModel)]="searchTerm">
    </mat-form-field>
    <table mat-table [dataSource]="users()" class="mat-elevation-z8 demo-table">
      <ng-container matColumnDef="Number">
        <th mat-header-cell *matHeaderCellDef>№</th>
        <td mat-cell *matCellDef="let index = index"> {{ index + 1 }}</td>
      </ng-container>
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>ФИО</th>
        <td mat-cell *matCellDef="let user" [routerLink]="user.userId == authData?.userId ? ['/profile'] : ['/user-profile', user.userId]">
          {{user.lastName}} {{user.firstName}} {{user.patronymic}}
        </td>
      </ng-container>

      <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let user" [routerLink]="user.userId == authData?.userId ? ['/profile'] : ['/user-profile', user.userId]">{{ user.email }}</td>
      </ng-container>

      <ng-container matColumnDef="Role">
        <th mat-header-cell *matHeaderCellDef>Роль</th>
        <td mat-cell *matCellDef="let user" [routerLink]="user.userId == authData?.userId ? ['/profile'] : ['/user-profile', user.userId]">{{ user.roleName }}</td>
      </ng-container>
      <ng-container matColumnDef="Group">
        <th mat-header-cell *matHeaderCellDef>Группа</th>
        <td mat-cell *matCellDef="let user" [routerLink]="user.userId == authData?.userId ? ['/profile'] : ['/user-profile', user.userId]">
          @if (user.groupName != null) {
            {{ user.groupName }}
          } @else {
            ...
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="Options">
        <th mat-header-cell *matHeaderCellDef>Опции</th>
        <td mat-cell *matCellDef="let user">
          @if (user.userId == this._authService.authData()?.userId) {
            <p>Мы</p>
          } @else {
            <button mat-icon-button [matMenuTriggerFor]="options">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #options="matMenu">
              <button mat-menu-item [matMenuTriggerFor]="change_role">Сменить роль</button>
              <button mat-menu-item (click)="delete(user.userId)">
                <mat-icon>delete</mat-icon>
                <span>Удалить</span>
              </button>
            </mat-menu>

            <mat-menu #change_role="matMenu">
              @if (user.roleName == 'Student') {
                <button mat-menu-item (click)="changeRoleUser(user.userId, 2)">
                  <mat-icon>menu_book</mat-icon>
                  <span>Преподаватель</span>
                </button>
                <button mat-menu-item (click)="changeRoleUser(user.userId, 1)">
                  <mat-icon>manage_accounts</mat-icon>
                  <span>Администратор</span>
                </button>
              } @else if (user.roleName == 'Teacher') {
                <button mat-menu-item (click)="changeRoleUser(user.userId, 1)">
                  <mat-icon>manage_accounts</mat-icon>
                  <span>Администратор</span>
                </button>
                <button mat-menu-item (click)="changeRoleUser(user.userId, 3)">
                  <mat-icon>school</mat-icon>
                  <span>Студент</span>
                </button>
              } @else {
                <button mat-menu-item (click)="changeRoleUser(user.userId, 2)">
                  <mat-icon>menu_book</mat-icon>
                  <span>Преподаватель</span>
                </button>
                <button mat-menu-item (click)="changeRoleUser(user.userId, 3)">
                  <mat-icon>school</mat-icon>
                  <span>Студент</span>
                </button>
              }
            </mat-menu>
          }
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns;"
      ></tr>
    </table>
  </div>
</div>
