@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

html, body {
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  background-color: var(--mat-sys-secondary-container);
  //background-color: var(--mat-sys-background);
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
