<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar class="sidenav__text">Menu</mat-toolbar>
    <mat-nav-list>
      <span class="nav-list-desktop__item__text">Main</span>
      <a mat-list-item routerLink="/projects">
        <span class="nav-list-desktop__item">
          <mat-icon>home</mat-icon>
          <span class="nav-list-desktop__item__text">Projects</span>
        </span>
      </a>
      <a mat-list-item routerLink="/issues">
        <span class="nav-list-desktop__item">
          <mat-icon>sync_problem</mat-icon>
          <span class="nav-list-desktop__item__text">Issues</span>
        </span>
      </a>
      <span class="nav-list-desktop__item__text">Account</span>
      <a mat-list-item routerLink="/sign-out">
        <span class="nav-list-desktop__item">
          <mat-icon>logout</mat-icon>
          <span class="nav-list-desktop__item__text">Sign-out</span>
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-toolbar-tablet">
      @if (isPhone$ | async) {
        <mat-nav-list [ngClass]="{'nav-list-phone': isPhone$ | async}">
          <a mat-list-item routerLink="/projects">
            <span class="nav-list-phone__item">
              <mat-icon class="nav-list-phone__item__icon">home</mat-icon>
            </span>
          </a>
          <a mat-list-item routerLink="/issues">
            <span class="nav-list-phone__item">
              <mat-icon class="nav-list-phone__item__icon">sync_problem</mat-icon>
            </span>
          </a>

          <a mat-list-item routerLink="/sign-out">
            <span class="nav-list-phone__item">
              <mat-icon class="nav-list-phone__item__icon">logout</mat-icon>
            </span>
          </a>
        </mat-nav-list>
      } @else if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <mat-nav-list [ngClass]="{'nav-list-tablet': isHandset$ | async}">
          <a mat-list-item routerLink="/projects">
            <span class="nav-list-tablet__item">
            <mat-icon class="nav-list-tablet__item__icon">home</mat-icon>
            <span class="nav-list-tablet__item__text">Projects</span>
            </span>
          </a>
          <a mat-list-item routerLink="/issues">
            <span class="nav-list-tablet__item">
              <mat-icon>sync_problem</mat-icon>
              <span class="nav-list-tablet__item__text">Issues</span>
            </span>
          </a>
          <a mat-list-item routerLink="/sign-out">
            <span class="nav-list-tablet__item">
              <mat-icon class="nav-list-tablet__item__icon">logout</mat-icon>
              <span class="nav-list-tablet__item__text">Sign-out</span>
            </span>
          </a>
        </mat-nav-list>
      }
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
