.main-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  column-gap: 12px;
  row-gap: 16px;
  &__item {
    &__header {
      background: linear-gradient(90deg, #3498db, #2c3e50);
      font-size: 26px;
      color: transparent;
      background-clip: text;
    }
    &__text {
      font-size: 16px;
      color: var(--mat-sys-on-surface);
    }
    &__image {
      max-width: 100%;
      width: 500px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}
.info {
  padding: 32px;
  background: var(--mat-sys-surface-container-low);
  border-radius: 16px;
  box-shadow: var(--mat-sys-level3);
  display: grid;
  grid-template-columns: 1fr;
}
@media (max-width: 1000px) {
  .main-page {
    grid-template-columns: 1fr;
    &__item {
      &__image {
        max-width: 100%;
        width: 800px;
        object-fit: cover;
        border-radius: 16px;
      }
    }
  }
}
