<div class="main-page">
  <div class="main-page__item info">
    <h3 class="main-page__item__header">Откройте новые возможности для совершенствования своих работ</h3>
    <p class="main-page__item__text">
      Student Assistance-это инновационная платформа, созданная для поддержки студентов и преподавателей в учебном процессе. Здесь вы можете получить моментальную объективную оценку своих письменных работ.</p>
  </div>
  <div class="main-page__item">
    <img src="assets/studentAssistanceImage1.svg" class="main-page__item__image">
  </div>
  <div class="main-page__item info">
    <h3 class="main-page__item__header">Как это работает?</h3>
    <p class="main-page__item__text">
      Просто загрузите свою работу, и наша система с искусственным интеллектом проанализирует ее по ключевым критериям: глубине раскрытия темы, логической структуре, стилю изложения и другим важным параметрам. Вам не придется долго ждать – оценка и персональные рекомендации будут готовы в кратчайшие сроки!</p>
  </div>
  <div class="main-page__item">
    <img src="assets/studentAssistanceImage2.svg" class="main-page__item__image">
  </div>
</div>
