<div class="app">
  <form class="app__register" [formGroup]="registerForm">
    <div class="app__register__header">
      <span>Регистрация</span>
    </div>
    <div class="app__register__body">
      <div class="app__register__body__inputs">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          @if (email.hasError('required')) {
            <mat-error>Email <strong>обязательное поле</strong></mat-error>
          }
          @if (email.hasError('email')) {
            <mat-error>Некорректный email</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Имя</mat-label>
          <input matInput formControlName="firstName"/>
          @if (password.hasError('required')) {
            <mat-error>Имя <strong>обязательное поле</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Фамилия</mat-label>
          <input matInput formControlName="lastName"/>
          @if (password.hasError('required')) {
            <mat-error>Фамилия <strong>обязательное поле</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Отчество</mat-label>
          <input matInput formControlName="patronymic"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Группа (обязательна для студента)</mat-label>
          <input matInput formControlName="groupName"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="password" type="password"/>
          @if (password.hasError('required')) {
            <mat-error>Пароль <strong>обязательное поле</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="app__register__footer">
      <div class="app__register__footer__left"></div>
      <div class="app__register__footer__right">
        <button mat-button routerLink="/auth/sign-in">Вход</button>
        <button mat-flat-button (click)="register()">Регистрация</button>
      </div>
    </div>
  </form>
</div>

