.auth {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  &__left  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: var(--mat-sys-secondary);
    color: var(--mat-sys-on-secondary);
    font: var(--mat-sys-headline-large);
  }
  &__right {
    background-color: var(--mat-sys-secondary-container);
  }
}
@media (max-width: 824px) {
  .auth {
    display: grid;
    grid-template-columns: 1fr;
    &__left  {
      font: var(--mat-sys-headline-medium)
    }
  }
}

