<div class="app">
  <form class="app__login" [formGroup]="loginForm">
    <div class="app__login__header">
      <span>Вход</span>
    </div>
    <div class="app__login__body">
      <div class="app__login__body__inputs">
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput formControlName="email"/>
          @if (email.hasError('required')) {
            <mat-error>Email <strong>обязательное поле</strong></mat-error>
          }
          @if (email.hasError('email')) {
            <mat-error>Некорректный email</mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <mat-label>Пароль</mat-label>
          <input matInput formControlName="password" type="password"/>
          @if (password.hasError('required')) {
            <mat-error>Пароль <strong>обязательное поле</strong></mat-error>
          }
        </mat-form-field>
      </div>
    </div>
    <div class="app__login__footer">
      <div class="app__login__footer__left"></div>
      <div class="app__login__footer__right">
        <button mat-button routerLink="/auth/sign-up">Регистрация</button>
        <button mat-flat-button (click)="login()">Вход</button>
      </div>
    </div>
  </form>
</div>
