.profile {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 22px;

  &__main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr;
    background-color: var(--mat-sys-surface-container-low);
    justify-items: center;
    border-radius: 16px;
    padding-block: 24px;

    &__main-info-user {
      display: grid;
      grid-template-columns: 250px;

      &__block {
        display: grid;
        grid-template-columns: 1fr 1fr;

        &__left {
          &__text {
            text-align: start;
            font-size: 14px;
            color: var(--mat-sys-on-surface);
          }
        }

        //color: #3f546c;
        &__right {
          &__text {
            text-align: end;
            font-size: 14px;
            color: var(--mat-sys-on-surface);
          }
        }
      }
    }

    &__line {
      width: 100%;
      height: 1px;
      background-color: var(--mat-sys-on-surface);
    }

    &__works-info-user {
      display: grid;
      grid-template-columns: 250px;
      grid-template-rows: min-content min-content;
      padding-top: 16px;

      &__header {
        color: var(--mat-sys-on-surface);
      }

      &__block {
        display: grid;
        grid-template-columns: 240px 1fr;

        &__left {
          &__text {
            text-align: start;
            font-size: 14px;
            color: var(--mat-sys-on-surface);
          }
        }

        &__right {
          &__text {
            font-size: 14px;
            color: var(--mat-sys-on-surface);
          }
        }
      }
    }
  }

  &__info {
    background-color: var(--mat-sys-surface-container-low);
    border-radius: 16px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content 1fr min-content;
    padding: 24px;

    &__item {
      border: 1px solid var(--mat-sys-on-surface);
      border-radius: 16px;
      display: grid;
      grid-template-columns: 1fr 20px;
      &__left {
        padding: 10px;
        &__text {
          margin: 0;
          font-size: 14px;
          color: var(--mat-sys-on-surface);
        }
      }
      &__right {
        border-radius: 0px 16px 16px 0px;
        background-color: var(--color);
      }
    }

    &__item:hover {
      transform: translate(0px, -2px);
      box-shadow: 10px 10px 10px var(--color);
      transition: 0.2s;
    }
  }
}

.image {
  border-radius: 50%;
  border: 3px solid;
}
