<div class="profile">
  <div class="profile__main">
    <div class="profile__main__main-info-user">
      <img class="image" src="assets/logo_profile_user.svg">
      <div class='profile__main__main-info-user__block'>
        <div class="profile__main__main-info-user__block__left">
          <p class="profile__main__main-info-user__block__left__text">ФИО:</p>
          <p class="profile__main__main-info-user__block__left__text">Email:</p>
          <p class="profile__main__main-info-user__block__left__text">Роль:</p>
          <p class="profile__main__main-info-user__block__left__text">Группа:</p>
        </div>
        <div class="profile__main__main-info-user__block__right">
          <p
            class="profile__main__main-info-user__block__right__text">{{ user_info?.firstName }} {{ user_info?.lastName }}</p>
          <p class="profile__main__main-info-user__block__right__text">{{ user_info?.email }}</p>
          <p class="profile__main__main-info-user__block__right__text">{{ user_info?.roleName }}</p>
          @if (user_info?.groupName != null) {
            <p class="profile__main__main-info-user__block__right__text">{{ user_info?.groupName }}</p>
          } @else {
            <p class="profile__main__main-info-user__block__right__text">...</p>
          }
        </div>
      </div>
    </div>
    <div class="profile__main__line"></div>
    <div class="profile__main__works-info-user">
      <h4 class="profile__main__works-info-user__header">Работы:</h4>
      <div class="profile__main__works-info-user__block">
        <div class="profile__main__works-info-user__block__left">
          <p class="profile__main__works-info-user__block__left__text">Количество отправленных:</p>
          <p class="profile__main__works-info-user__block__left__text">Оценено на отлично:</p>
          <p class="profile__main__works-info-user__block__left__text">Оценено на хорошо:</p>
          <p class="profile__main__works-info-user__block__left__text">Оценено на уд.:</p>
          <p class="profile__main__works-info-user__block__left__text">Оценено на не уд.:</p>
        </div>
        <div class="profile__main__works-info-user__block__right">
          <p class="profile__main__works-info-user__block__left__text">{{ estimationData.countWorks }}</p>
          <p class="profile__main__works-info-user__block__left__text">{{ estimationData.countRatedExc }}</p>
          <p class="profile__main__works-info-user__block__left__text">{{ estimationData.countRatedGood }}</p>
          <p class="profile__main__works-info-user__block__left__text">{{ estimationData.countRatedSatisfactory }}</p>
          <p class="profile__main__works-info-user__block__left__text">{{ estimationData.countRatedUnSatisfactory }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="profile__info">
    @if (fileEstimationData.length == 0) {
      <mat-icon>sentiment_dissatisfied</mat-icon>
      К сожалению, у пользователя отсутствуют учебные работы
    }
    @for (file of fileEstimationData; track file) {
      <div class="profile__info__item"
           [ngStyle]="{'--color': getColor(file.estContent + file.estRelevance + file.estStylistic)}"
      >
        <div class="profile__info__item__left">
          <p class="profile__info__item__left__text">Предмет: {{ file.academicSubject }}</p>
          <p class="profile__info__item__left__text">Тема работы: {{ file.topicWork }}</p>
          <p class="profile__info__item__left__text">Оценка содержания (0-50): {{ file.estContent }}</p>
          <p class="profile__info__item__left__text">Оценка актуальности (0-25): {{ file.estRelevance }}</p>
          <p class="profile__info__item__left__text">Оценка стилистики (0-25): {{ file.estStylistic }}</p>
          <p class="profile__info__item__left__text">Итоговый
            балл: {{ file.estContent + file.estRelevance + file.estStylistic }}</p>
          <p class="profile__info__item__left__text">
            Рекоммендации по улучшению учебной работы: {{ file.estRecommendations }}
          </p>
        </div>
        <div class="profile__info__item__right"
        ></div>
      </div>
    }
  </div>
</div>
