<div class="nav">
  <app-navigation></app-navigation>
</div>
<div class="header">
  <div class="header__logo-text" routerLink="/main-page">
    <span class="material-symbols-outlined">
      school
    </span>
    <h4 class="header__logo-text__text">Student assistance</h4>
  </div>
  <div class="header__account" routerLink="/profile">
      <span class="material-symbols-outlined">
        account_circle
      </span>
    <span>{{ authData?.firstName }} {{ authData?.lastName }}</span>
  </div>
</div>
<div class="content">
  <router-outlet/>
</div>
