<div class="profile">
  <div class="profile__main">
    <div class="profile__main__main-info-user">
        <img class="image" src="assets/logo_profile_user.svg">
      <p class="profile__main__main-info-user__text">Maksim Baklanov</p>
      <p class="profile__main__main-info-user__text">baklanov689gmail.com</p>
      <p class="profile__main__main-info-user__text">Admin</p>
    </div>
    <div class="profile__main__works-info-user">

    </div>
  </div>
  <div class="profile__info">

  </div>
</div>
